
  footer {
    padding-top: 20px;
    padding-left: 20px;
  }
  footer button {
    background-color: rgb(29, 60, 196);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  footer button a {
    color: white;
    text-decoration: none;
}