body {
    
    background:#E69A8DFF;
    background-size:cover;
    font-family: 'Source Sans Pro', sans-serif;

}
.main h1{
  font-size: 50px;
  color: #5F4B8BFF;
  text-align: center;
  font-family: 'Lora', serif;
}

.demo {
    width: 100%;
    max-width: 960px;
    margin: 100% auto;
    text-align: center;
    color: white;
    height: 870px;
    width: 600px;
    margin: 100px auto;
    background: #5F4B8BFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -moz-box-align: center;
    font-family: 'Lora', serif;
    border-block-color: rgb(90, 153, 61);
  }

.demo>h2 {
    font-size: 30px;
  }

.register {
    font-style: normal;
    font-size-adjust: initial;
    font-size: 20px;
}

.register input[type="text"],.register input[type="password"] {
    width: 95%;
    padding: 0.8em 0.8em;
    color: black;
    font-size: 15px;
    outline: none;
    background: white;
    font-weight: 500;
    border: 1px solid rgba(186, 40, 23, 0.69);
    font-family: 'Raleway', sans-serif;
  }

.sign-up {
    padding: 1.5em 15;
  }

.sign-up input[type="reset"] {
    float: left;
    background: rgb(37, 36, 36);
    padding: 0.8em 1.4em;
    color: #fff;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1em;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

.sign-up input[type="submit"] {
    float: right;
    background: rgb(37, 36, 36);
    padding: 0.8em 1.5em;
    color: #fff;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    font-family: 'Raleway', sans-serif;
  }

  
